*,
*::before, 
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --white: #FFF;
}

body {
  background-image: url('../images/bg-desktop-light.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: contain;
  font-family: 'Josefin Sans', sans-serif;
}

