*,
*::before, 
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --white: #FFF;
  --blue: #3A7CFD;
  --grey1: #E3E4F1;
  --grey2: #9495A5;
  --grey3: #494C6B;
}

body {
  background-image: url('../images/bg-desktop-light.jpg');
  background-size: contain;
  background-repeat: no-repeat;
  object-fit: contain;
  font-family: 'Josefin Sans', sans-serif;
}

.container {
  max-width: 540px;
  margin: 0 auto 48px;
  padding: 0 64px;
}

